<% provide(:title, @product.title) %>

<h1>Product</h1>

<p>Ruby is the fastest growing and most exciting dynamic language out there. If you need to get working programs delivered fast, you should add Ruby to your toolbox.</p>
<%= link_to 'Back to index', products_url %>